.profile {
    padding: 1rem;
    display: grid;
    grid-template-columns: 30% 1fr;
    gap: 22px;
}

.profile--heading {
    display: flex;
    justify-content: space-between;
}

.profile--heading_text {
    margin: 0;
}

.profile--heading_text {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.profile--heading_text > small {
    opacity: 0.5;
}